{
   "plugins": [
      "@babel",
      "import"
   ],
   "parser": "@babel/eslint-parser",
   "parserOptions": {
      "ecmaVersion": 2021
   },
   "reportUnusedDisableDirectives": true,
   "env": {
      "browser": true,
      "es2021": true
   },
   "extends": [
      "plugin:import/errors",
      "plugin:import/warnings"
   ],
   "globals": {
      "AggregateError": "readonly", // It's not actually readonly but whatever

      // players.js
      "activeBots": "writable",
      "activePeople": "writable",
      "activePlayers": "writable",
      "bots": "writable",
      "people": "writable",
      "players": "writable",

      // game.js
      "currentGame": "writable"
   },
   "rules": {
      // Using @babel and standard
      "new-cap": "off",
      "no-invalid-this": "off",
      "no-unused-expressions": "off",
      "object-curly-spacing": "off",
      "semi": "off",
      "@babel/new-cap": "error",
      "@babel/no-invalid-this": "off",
      "@babel/no-unused-expressions": "off",
      "@babel/object-curly-spacing": "off",
      "@babel/semi": [
         "error",
         "never"
      ],

      // Actual changes
      "camelcase": [
         "error",
         {
            "allow": [
               // Constant variables that are not uppercase
               // They could be uppercase, but I don't feel like it
               "player_assets",
               "bot_mechanics",
               "best_moves",
               "bot_versions",

               // Constant properties
               // This is actually inconsistent with firstDiagonal, but too late
               "random_move",
               "middle_index",

               // Ugh
               "EVERYONEs_ENABLED",
               "NO_ONEs_ENABLED"
            ]
         }
      ],
      "indent": [
         "error",
         3
      ]
   }
}
