{
   "plugins": [
      "@babel",
      "jest"
   ],
   "parser": "@babel-eslint/eslint-parser",
   "parserOptions": {
      "ecmaVersion": 2021
   },
   "reportUnusedDisableDirectives": true,
   "env": {
      "browser": true,
      "es2021": true,
      "jest": true
   },
   "extends": [
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:jest/recommended"
   ],
   "globals": {
      "AggregateError": "readonly", // It's not actually readonly but whatever

      // players.js
      "activeBots": "writable",
      "activePeople": "writable",
      "activePlayers": "writable",
      "bots": "writable",
      "people": "writable",
      "players": "writable",

      // game.js
      "currentGame": "writable"
   },
   "rules": {
      // Using @babel and standard and jest
      "new-cap": "off",
      "no-invalid-this": "off",
      "no-unused-expressions": "off",
      "object-curly-spacing": "off",
      "semi": "off",
      "@babel/new-cap": "error",
      "@babel/no-invalid-this": "off",
      "@babel/no-unused-expressions": "off",
      "@babel/object-curly-spacing": "off",
      "@babel/semi": [
         "error",
         "never"
      ],
      "jest/prefer-spy-on": "warn",
      "jest/prefer-strict-equal": "warn",
      "jest/prefer-to-be-null": "error",
      "jest/prefer-to-be-undefined": "error",
      "jest/prefer-to-contain": "error",
      "jest/prefer-to-have-length": "error",
      "jest/prefer-todo": "error",

      // Actual changes
      "indent": [
         "error",
         3
      ]
   }
}
