#container {
   position: relative;
   height: 75vh;   /* Width is 100 by default */
   display: grid;
   grid-template-areas:
      "1-1 1-2 1-3 1-4 1-5 1-6 1-7 1-8 1-9 1-10 1-11 1-12 1-13 1-14 1-15 1-16 1-17 1-18 1-19 aside"
      "2-1 2-2 2-3 2-4 2-5 2-6 2-7 2-8 2-9 2-10 2-11 2-12 2-13 2-14 2-15 2-16 2-17 2-18 2-19 aside"
      "3-1 3-2 3-3 3-4 3-5 3-6 3-7 3-8 3-9 3-10 3-11 3-12 3-13 3-14 3-15 3-16 3-17 3-18 3-19 aside"
      "4-1 4-2 4-3 4-4 4-5 4-6 4-7 4-8 4-9 4-10 4-11 4-12 4-13 4-14 4-15 4-16 4-17 4-18 4-19 aside"
      "5-1 5-2 5-3 5-4 5-5 5-6 5-7 5-8 5-9 5-10 5-11 5-12 5-13 5-14 5-15 5-16 5-17 5-18 5-19 aside"
      "6-1 6-2 6-3 6-4 6-5 6-6 6-7 6-8 6-9 6-10 6-11 6-12 6-13 6-14 6-15 6-16 6-17 6-18 6-19 aside"
      "7-1 7-2 7-3 7-4 7-5 7-6 7-7 7-8 7-9 7-10 7-11 7-12 7-13 7-14 7-15 7-16 7-17 7-18 7-19 aside"
      "8-1 8-2 8-3 8-4 8-5 8-6 8-7 8-8 8-9 8-10 8-11 8-12 8-13 8-14 8-15 8-16 8-17 8-18 8-19 aside"
      "9-1 9-2 9-3 9-4 9-5 9-6 9-7 9-8 9-9 9-10 9-11 9-12 9-13 9-14 9-15 9-16 9-17 9-18 9-19 aside"
      "10-1 10-2 10-3 10-4 10-5 10-6 10-7 10-8 10-9 10-10 10-11 10-12 10-13 10-14 10-15 10-16 10-17 10-18 10-19 aside"
      "11-1 11-2 11-3 11-4 11-5 11-6 11-7 11-8 11-9 11-10 11-11 11-12 11-13 11-14 11-15 11-16 11-17 11-18 11-19 aside"
      "12-1 12-2 12-3 12-4 12-5 12-6 12-7 12-8 12-9 12-10 12-11 12-12 12-13 12-14 12-15 12-16 12-17 12-18 12-19 aside"
      "13-1 13-2 13-3 13-4 13-5 13-6 13-7 13-8 13-9 13-10 13-11 13-12 13-13 13-14 13-15 13-16 13-17 13-18 13-19 aside"
      "14-1 14-2 14-3 14-4 14-5 14-6 14-7 14-8 14-9 14-10 14-11 14-12 14-13 14-14 14-15 14-16 14-17 14-18 14-19 aside"
      "15-1 15-2 15-3 15-4 15-5 15-6 15-7 15-8 15-9 15-10 15-11 15-12 15-13 15-14 15-15 15-16 15-17 15-18 15-19 aside"
      "16-1 16-2 16-3 16-4 16-5 16-6 16-7 16-8 16-9 16-10 16-11 16-12 16-13 16-14 16-15 16-16 16-17 16-18 16-19 aside"
      "17-1 17-2 17-3 17-4 17-5 17-6 17-7 17-8 17-9 17-10 17-11 17-12 17-13 17-14 17-15 17-16 17-17 17-18 17-19 aside"
      "18-1 18-2 18-3 18-4 18-5 18-6 18-7 18-8 18-9 18-10 18-11 18-12 18-13 18-14 18-15 18-16 18-17 18-18 18-19 aside"
      "19-1 19-2 19-3 19-4 19-5 19-6 19-7 19-8 19-9 19-10 19-11 19-12 19-13 19-14 19-15 19-16 19-17 19-18 19-19 aside";
   grid-template-columns: repeat(20, 3fr) 20fr;

   /* 60fr split up: 20fr for the aside, and 3fr * 20 columns
      (aside gets 25%, the rest split up equally) */
}

#game {
   position: absolute;
   height: 100%;
   border-width: 2px;
   border-style: double;
   border-color: orange;
}

aside {
   border-width: 2px;
   border-style: double;
   border-color: dodgerblue;
   padding: 1%;
}

#container aside {
   grid-column: 21;
   grid-row: 1 / 21;
}

button {
   visibility: hidden;
}

button.win {
   background-color: #CFC !important;
   border-color: #19FF19;
}

#nameFields,
#choosePlayerFields {
   padding: 0;  
}

fieldset fieldset {
   margin: 0;
   border: none;
}

aside button,
button.board {
   visibility: visible;
}

button.enable {
   border-color: #0f9;
   color: #0f9d58;
}

button.disable {
   border-color: #f54;
   color: #ea4335;
}

button.enable,
button.disable {
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   background-color: white;
   border-style: outset;
}

button.enable:active,
button.disable:active {
   border-style: inset;
}

button.enable:active {
   background-color: #cfc;
}

button.disable:active {
   background-color: #cfc;  
}

button.enable:disabled,
button.disable:disabled {
   font-weight: normal;
   background-color: rgba(239, 239, 239, 30%);
}

button.enable:disabled {
   border-color: rgba(0, 255, 153, 30%);
   color: rgba(58, 175, 128, 50%);
}

button.disable:disabled {
   border-color: rgba(255, 85, 68, 30%);
   color: rgba(234, 67, 53, 30%);
}

button.enable:hover:not(:active):not(:disabled) {
   border-color: #0e8;
   color: #2b7;
   background-color: #eee;
}

button.disable:hover:not(:active):not(:disabled) {
   border-color: #f76;
   color: #f54;
   background-color: #eee;
}



.monospace {
   font-family: Consolas, monospace;
}

h1 {
   text-align: center;
}

details {
   border: 1px solid #aaa;
   border-radius: 4px;
}

summary {
   padding-left: 0.5em;
}

details p {
   padding-left: 0.5em;
}
